.home {
    background-color: #060f47;
    color: #fff;
    min-height: 100vh;

}
.navbar {
    display: flex;
    align-items: center;
    background-color: #031058;
}
.nav-logo img {
    width: 80px;
    padding: 1rem 1rem;
}
.nav-logo.active {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}
.magic-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.collections-container {
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem;

}
.collections-container.active {
    background-color: #060608;
    position: relative;
    top: 400px;
}


