.home {
    background-color: #060f47;
    color: #fff;
    min-height: 100vh;

}
.navbar {
    display: flex;
    align-items: center;
    background-color: #031058;
}
.nav-logo img {
    width: 80px;
    padding: 1rem 1rem;
}
.nav-logo.active {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}
.magic-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.collections-container {
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem;

}
.collections-container.active {
    background-color: #060608;
    position: relative;
    top: 400px;
}
.collection-skeleton {
    padding: 1rem;
  }
  
  .skeleton-title {
    width: 200px;
    height: 30px;
    border-radius: 4px;
    margin-bottom: 12px;
    background: #ddd;
  }
  
  .skeleton-items {
    display: flex;
    gap: 10px;
  }
  
  .skeleton-tile {
    width: 200px;
    height: 120px;
    border-radius: 6px;
    background: #8d8585;
    /* justify-content: center; */
    align-content: center;

  }
  
  .shimmer {
    background: linear-gradient(
      90deg,
      #847777 0%,
      #4a4141 50%,
      #2c2727 100%
    );
    background-size: 200% 100%;
    animation: shimmer 3s infinite;
  }

  
  @keyframes shimmer {
    0% {
      background-position: -200% 0;
    }
    100% {
      background-position: 200% 0;
    }
  }


