.home {
    background-color: #060f47;
    color: #fff;
    min-height: 100vh;
}
.navbar {
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #031058;
    padding: 1rem 2rem;
}
.nav-logo img {
    width: 80px;
}


