.tile {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    /* max-width: 300px; */
    position: relative;
    cursor: pointer;
    border-radius: 4px;
}

.tile.selected {
    border: 2px solid #fff;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.5);
    z-index: 100;
    transform: scale(1.05);
    border-radius: 4px;
}

.tile-image-container {
    position: relative;
    width: 100%;
    /* padding-bottom: 56.25%;  */
    /* 16:9 aspect ratio */
    overflow: hidden;
    border-radius: 4px;
    opacity: 0;
    transform: translateX(10px);
    transition: opacity 1s ease-out, transform 1s ease-out;
    aspect-ratio: 16/9;
}

.tile-image-container.visible {
    opacity: 1;
    transform: translateY(0);
}

.tile-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.tile-image.loaded {
    opacity: 1;
}

.tile-placeholder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.tile-image-container.visible .tile-placeholder {
    opacity: 1;
}

.tile-placeholder-text {
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    padding: 0 10px;
    opacity: 0;
    transform: translateX(5px);
    transition: opacity 0.5s ease-in-out 0.2s, transform 0.5s ease-in-out 0.2s;
}

.tile-image-container.visible .tile-placeholder-text {
    opacity: 1;
    transform: translateY(0);
}

.no-image {
    background-color: #1a1a1a;
}

.tile-title {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    transition: color 0.2s ease-in-out;
    padding: 0 4px;
    word-break: break-word;
}

.tile-release-year {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(139, 130, 130, 0.436);
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 500;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    width: 90%;
}

.tile.selected .tile-release-year {
    opacity: 1;
    background-color: rgba(83, 80, 80, 0.9);
    font-size: 14px;
}

/* Responsive styles */
@media (max-width: 768px) {
    .tile {
        max-width: 200px;
    }
    
    .tile-title {
        font-size: 12px;
    }
    
    .tile-placeholder-text {
        font-size: 10px;
    }
}

@media (max-width: 480px) {
    .tile {
        max-width: 150px;
    }
    
    .tile-title {
        font-size: 11px;
    }
    
    .tile-placeholder-text {
        font-size: 9px;
    }
} 